body {
    background-color: black;
    cursor: url(fishing-net.svg), auto;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Verdana";
    color: white;
    margin: 20px;
    text-align: center;
}

h1 > span {
    float: right;
    font-size: 40px;
    margin-right: -120px;
    z-index: 900;
}

h1 {
    padding:10px;
    padding-right:30px;
    padding-left:30px;
    width: 960px;
    z-index: 900;
    position: absolute
}

h2 {
    justify-content: center;
    margin-top: 25px;
}

#start {
    justify-content: center;
    margin-top: 250px;
}

#game-area {
    position: absolute;
    margin: -50px -350px 50px 330px;
    top: 100px;
    left: 40px;
    width: 1200px;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    cursor: pointer;
    box-shadow: inset 2px 2px 10px black;
    overflow: hidden;
    background-color: green;
}

#game-area img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#game-area #unmuted {
    height: 50px;
    width: 50px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}


#game-area img.transparent {
    opacity:0;
}

#game-area div.transparent2 {
    opacity:0;
}


#game-area img.semiTransparent {
    opacity:0.5;
}

#message-area {
    position: absolute;
    margin: -50px -350px 50px 330px;
    top: 100px;
    left: 40px;
    width: 1200px;
    height: 800px;
    z-index: 1000;
    background-color: #023A5D;
    background-image: url("images/logo.png");
    background-size: cover;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.rules {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 1000;
    background-color: #023A5D;
    display: none;
    top: 0px;

    background-image: url("images/HowTo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 5px black;
    box-shadow: inset 2px 2px 10px black;
}

.gameOver {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 1000;
    background-color: black;
    background-image: url("images/GameOver.png");
    display: none;
    text-shadow: 2px 2px 5px black;
    box-shadow: inset 2px 2px 10px black;
}

.scoreboard {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 1000;
    background-color: #023A5D;
    display: none;
    top: 0px;
    background-image: url("images/scoreboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 5px black;
    box-shadow: inset 2px 2px 10px black;
}

.hidden {
    display: none;
}

.fish_1 {
    background-image: url("images/fish/fish_1_r.gif");
    background-size: cover;
    height: 40px;
    width: 50px;
    animation: right 20s normal;
    background-repeat: no-repeat;
        position: absolute;

}
.fish_2 {
    background-image: url("images/fish/fish_2_r.gif");
    background-size: cover;
    height: 80px;
    width: 100px;
    animation: right 24s normal;
    background-repeat: no-repeat;
        position: absolute;

}

.fish_3 {
    background-image: url("images/fish/fish_3_r.gif");
    background-size: cover;
    height: 120px;
    width: 120px;
    animation: right 35s normal;
    background-repeat: no-repeat;
        position: absolute;

}

.fish_4 {
    background-image: url("images/fish/fish_4_l.gif");
    background-size: cover;
    height: 40px;
    width: 50px;
    animation: left 15s normal;
    background-repeat: no-repeat;
        position: absolute;

}

.fish_5 {
    background-image: url("images/fish/fish_5_l.gif");
    background-size: cover;
    height: 85px;
    width: 100px;
    animation: left 18s normal;
        position: absolute;

}

.fish_6 {
    background-image: url("images/fish/fish_6_r.gif");
    background-size: cover;
    height: 60px;
    width: 60px;
    animation: right 50s normal;
        position: absolute;

}

.fish_7 {
    background-image: url("images/fish/fish_7_r.gif");
    background-size: cover;
    height: 80px;
    width: 80px;
    animation: left 18s normal;
    transform: scaleX(-1);
        position: absolute;

}

.fish_8 {
    background-image: url("images/fish/fish_8_r.gif");
    background-size: cover;
    height: 110px;
    width: 130px;
    animation: right 30s normal;
}

.seahorse {
    background-image: url("images/fish/sea_horse_l.gif");
    background-size: cover;
    height: 60px;
    width: 60px;
    animation: left 40s normal;
    transform: rotate(30deg);
}

.stingray {
    background-image: url("images/fish/stingray_l.gif");
    background-size: cover;
    height: 150px;
    width: 150px;
    transform: rotate(-30deg);
    animation: left 22s normal;
}

.octopus {
    background-image: url("images/fish/octopus.gif");
    background-size: cover;
    height: 200px;
    width: 200px;
    animation: left 40s normal;
    transform: rotate(30deg);
}

.turtle {
    background-image: url("images/fish/turtle_r.gif");
    background-size: cover;
    height: 150px;
    width: 150px;
    animation: right 30s normal;
    transform: rotate(60deg);
}

.crab {
    background-image: url("images/fish/crab.gif");
    background-size: cover;
    height: 80px;
    width: 80px;
    bottom: 100px;
    position:absolute;
    left: 300px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.coral_2 {
    background-image: url("images/plants/coral_2.png");
    background-size: cover;
    height: 120px;
    width: 120px;
    bottom: 70px;
    position:absolute;
    left: 575px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.coral_3 {
    background-image: url("images/plants/coral_3.png");
    background-size: cover;
    height: 120px;
    width: 120px;
    bottom: 0px;
    position:absolute;
    left: 800px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.trash_1{
    background-image: url("images/trash/beer_bottle.png");
    background-size: cover;
    position: absolute;
    height: 60px;
    width: 60px;
    animation: trash 40s normal;
}

.trash_2{
    background-image: url("images/trash/beverage_can_empty.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    animation: trash 40s normal;
}

.trash_3{
    background-image: url("images/trash/bottle.png");
    background-size: cover;
    height: 60px;
    width: 60px;
    animation: trash 40s normal;
}

.trash_4{
    background-image: url("images/trash/can.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    animation: rotationR 40s normal;
}

.trash_5{
    background-image: url("images/trash/plastic_bag.png");
    background-size: cover;
    height: 100px;
    width: 100px;
    animation: rotationL 40s normal;
}

.trash_6{
    background-image: url("images/trash/plastic_rings.png");
    background-size: cover;
    height: 80px;
    width: 80px;
    animation: rotationR 40s normal;
}

.trash_7{
    background-image: url("images/trash/cigarette.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    animation: rotationL 40s normal;
}

.trash_8{
    background-image: url("images/trash/straw.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    animation: trash 40s normal;
}


@keyframes left {
    from {
        margin-left:-200px;
    }
    to {
        margin-left:1500px;
    }
}

@keyframes right {
    from {
        margin-left:1600px;
    }
    to {
        margin-left:-2000px;
    }
}

@keyframes trash {
    from {
        margin-top:-200px;
    }
    to {
        margin-top:1000px;
    }
}

@keyframes rotationR {
  from {
    margin-top:-200px;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    margin-top:1000px;
  }
}

@keyframes rotationL {
  from {
    margin-top:-200px;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    margin-top:1000px;
  }
}

@keyframes image {
  0% {
    background-image: url('images/background.jpeg');
  }
  100% {
    background-image: url('images/background_plastic.jpeg');
  }
}

#health {
    height: 50px;
    width: 50px;
}

.closebtn {
    font-family: "Verdana";
    margin: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 35px;
    cursor: pointer;
    transition: 0.3s;
    background-color: red;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: white solid 5px;
    text-align: center;
}

.health {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     width: 200px;
     height: 20px;
     padding: 5px;
     background: #ddd;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     position: relative;
     z-index: 900;
}
.bar {
    background: #c54;
    width: 200px;
    height: 20x;
    position: relative;
    transition: width .5s linear;
    .hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    transition: width .5s linear;
}

#unmuted {
    margin-left: 40px;
}



