body {
    background-color: #155489;
    font-family: "Verdana";
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    margin: 30px;
    text-align: center;
}

h1 > span {
    top: 10px;
    right: 10px;
    font-size: 20px;
    z-index: 900;
    text-align: right;
    position: absolute;
}

h1 {
    padding:10px;
    padding-right:30px;
    padding-left:30px;
    width: 300px;
    z-index: 900;
    float: right;
    position: absolute;
    right: 0px;
}

h2 {
    justify-content: center;
    margin-top: 25px;
}

#start {
    justify-content: center;
    margin-top: 250px;
}

#game-area {
    position: absolute;
    margin: -50px -350px 50px 330px;
    top: 100px;
    left: 40px;
    width: 1200px;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    cursor: pointer;
    box-shadow: inset 2px 2px 10px black;
    overflow: hidden;
    background-color: green;
}

#game-area img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#game-area #unmuted {
    height: 30px;
    width: 30px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#game-area img.transparent {
    opacity:0;
}

#game-area div.transparent2 {
    opacity:0;
}


#game-area img.semiTransparent {
    opacity:0.5;
}

#message-area {
    position: absolute;
    margin: -50px -350px 50px 330px;
    top: 100px;
    left: 40px;
    width: 1200px;
    height: 800px;
    z-index: 1000;
    background-color: #023A5D;
    background-image: url("images/logo.png");
    background-size: cover;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.rules {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 1000;
    background-color: #023A5D;
    display: none;
    top: 0px;

    background-image: url("images/HowTo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 5px black;
    box-shadow: inset 2px 2px 10px black;
}

.gameOver {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 999;
    background-color: black;
    background-image: url("images/GameOver.png");
    display: none;
    text-shadow: 2px 2px 5px black;
    box-shadow: inset 2px 2px 10px black;
}


.scoreboard {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 1000;
    background-color: #023A5D;
    display: none;
    top: 0px;
    background-image: url("images/scoreboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 5px black;
    box-shadow: inset 2px 2px 10px black;
}

.hidden {
    display: none;
}

.fish_1 {
    background-image: url("images/fish/fish_1_r.gif");
    height: 40px;
    width: 50px;
    animation: right 20s normal;
    background-repeat: no-repeat;
}

.fish_2 {
    background-image: url("images/fish/fish_2_r.gif");
    height: 80px;
    width: 100px;
    animation: right 24s normal;
    background-repeat: no-repeat;
}

.fish_3 {
    background-image: url("images/fish/fish_3_r.gif");
    height: 120px;
    width: 120px;
    animation: right 35s normal;
    background-repeat: no-repeat;
}

.fish_4 {
    background-image: url("images/fish/fish_4_l.gif");
    height: 40px;
    width: 50px;
    animation: left 15s normal;
    background-repeat: no-repeat;
}

.fish_5 {
    background-image: url("images/fish/fish_5_l.gif");
    height: 85px;
    width: 100px;
    animation: left 18s normal;
}

.fish_6 {
    background-image: url("images/fish/fish_6_r.gif");
    height: 60px;
    width: 60px;
    animation: right 50s normal;
}

.fish_7 {
    background-image: url("images/fish/fish_7_r.gif");
    height: 80px;
    width: 80px;
    animation: left 18s normal;
    transform: scaleX(-1);
}

.fish_8 {
    background-image: url("images/fish/fish_8_r.gif");
    height: 110px;
    width: 130px;
    animation: right 30s normal;
}

.fish_9_r {
    background-image: url("images/fish/fish_9_r.gif");
    height: 70px;
    width: 70px;
    animation: right 40s normal;
}

.fish_10_r {
    background-image: url("images/fish/fish_10_r.gif");
    height: 50px;
    width: 50px;
    animation: right 30s normal;
}

.fish_11_r {
    background-image: url("images/fish/fish_11_r.gif");
    height: 80px;
    width: 80px;
    animation: right 60s normal;
}

.fish_12_l {
    background-image: url("images/fish/fish_12_l.gif");
    height: 60px;
    width: 60px;
    animation: left 50s normal;
}

.fish_13_r {
    background-image: url("images/fish/fish_13_r.gif");
    height: 50px;
    width: 50px;
    animation: left 50s normal;
    transform: scaleX(-1);
}

.fish_14_r {
    background-image: url("images/fish/fish_14_r.gif");
    height: 70px;
    width: 70px;
    animation: left 50s normal;
    transform: scaleX(-1);
}

.seahorse {
    background-image: url("images/fish/sea_horse_l.gif");
    height: 60px;
    width: 60px;
    animation: left 40s normal;
    transform: rotate(30deg);
}

.seahorse_2 {
    background-image: url("images/fish/seahorse_2_l.gif");
    height: 60px;
    width: 60px;
    animation: right 40s normal;
    transform: rotate(-20deg);
    transform: scaleX(-1);
}

.stingray {
    background-image: url("images/fish/stingray_l.gif");
    height: 150px;
    width: 150px;
    transform: rotate(-30deg);
    animation: left 22s normal;
}

.octopus {
    background-image: url("images/fish/octopus.gif");
    height: 200px;
    width: 200px;
    animation: left 40s normal;
    transform: rotate(30deg);
}

.octopus_2 {
    background-image: url("images/fish/octopus_2.gif");
    height: 200px;
    width: 200px;
    animation: right 50s normal;
    transform: rotate(-20deg);
}

.shrimp {
    background-image: url("images/fish/shrimp.gif");
    height: 40px;
    width: 40px;
    animation: right 50s normal;
    transform: scaleX(-1);
}

.turtle {
    background-image: url("images/fish/turtle_r.gif");
    height: 150px;
    width: 150px;
    animation: right 40s normal;
    transform: rotate(60deg);
}

.crab {
    background-image: url("images/fish/crab.gif");
    background-size: cover;
    height: 80px;
    width: 80px;
    bottom: 100px;
    position:absolute;
    left: 300px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.crab_2 {
    background-image: url("images/fish/crab_2.gif");
    background-size: cover;
    height: 80px;
    width: 80px;
    bottom: 100px;
    position:absolute;
    left: 1075px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.coral_2 {
    background-image: url("images/plants/coral_2.png");
    background-size: cover;
    height: 120px;
    width: 120px;
    bottom: 70px;
    position:absolute;
    left: 575px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.coral_3 {
    background-image: url("images/plants/coral_3.png");
    background-size: cover;
    height: 120px;
    width: 120px;
    bottom: 0px;
    position:absolute;
    left: 800px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.trash_1{
    background-image: url("images/trash/beer_bottle.png");
    position: absolute;
    height: 60px;
    width: 60px;
    animation: trash 40s normal;
}

.trash_2{
    background-image: url("images/trash/beverage_can_empty.png");
    height: 40px;
    width: 40px;
    animation: trash 40s normal;
}

.trash_3{
    background-image: url("images/trash/bottle.png");
    height: 60px;
    width: 60px;
    animation: trash 40s normal;
}

.trash_4{
    background-image: url("images/trash/can.png");
    height: 40px;
    width: 40px;
    animation: rotationR 40s normal;
}

.trash_5{
    background-image: url("images/trash/plastic_bag.png");
    height: 100px;
    width: 100px;
    animation: rotationL 40s normal;
}

.trash_6{
    background-image: url("images/trash/plastic_rings.png");
    height: 80px;
    width: 80px;
    animation: rotationR 40s normal;
}

.trash_7{
    background-image: url("images/trash/cigarette.png");
    height: 30px;
    width: 30px;
    animation: rotationL 40s normal;
}

.trash_8{
    background-image: url("images/trash/straw.png");
    height: 30px;
    width: 30px;
    animation: trash 40s normal;
}

/*Moving fish from left to right*/
@keyframes left {
    from {
        margin-left:-200px;
    }
    to {
        margin-left:1600px;
    }
}

/*Moving fish from right to left*/
@keyframes right {
    from {
        margin-left:1600px;
    }
    to {
        margin-left:-2100px;
    }
}

/*Moving trash from right to left*/
@keyframes trash {
    from {
        margin-top:-200px;
    }
    to {
        margin-top:1000px;
    }
}

/*rotatet right*/
@keyframes rotationR {
    from {
        margin-top:-200px;
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
        margin-top:1000px;
    }
}

/*rotatet left*/
@keyframes rotationL {
  from {
    margin-top:-200px;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    margin-top:1000px;
  }
}

/*Changing image*/
@keyframes image {
  0% {
    background-image: url('images/background.jpeg');
  }
  100% {
    background-image: url('images/background_plastic.jpeg');
  }
}

#health {
    height: 50px;
    width: 50px;
}

.closebtn {
    font-family: "Verdana";
    margin: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 35px;
    cursor: pointer;
    transition: 0.3s;
    background-color: red;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: white solid 5px;
    text-align: center;
}

#unmuted {
    margin-left: 40px;
}

.bubble {
    position: absolute;
    width:20px;
    height:20px;
    background: transparent;
    pointer-events: none;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation: move_bubbles 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

/*Moving bubbles up*/
@keyframes move_bubbles {
    0% {
    }
    100% {
        top: -10px;
    }
}

/*Moving bubbles from side to side*/
@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}




