<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="..static/style.css" th:href="style.css">
    <title>Ocean Rescue</title>
    <meta charset="utf-8">

</head>
<body>
<audio autoplay class="music"
       src="images/ukulele.mp3" type="audio/mpeg">
</audio>
<section>
    <div id="message-area" style="color: white; justify-content: center;" >

        <h2 id="start" onclick="startGame()">START!</h2>
        <h2 onclick="showRules()">Show Rules</h2>
        <h2 onclick="showScoreboard()">Show Scoreboard</h2>
        <div class="rules">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">X</span>
        </div>
        <div class="scoreboard">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">X</span>
        </div>
    </div>
    <div id="game-area" style="color: white; justify-content: center;">
        <h1></h1>
        <img src="images/audio/unmute.png" onclick="mute()" id="unmuted">
        <div class="crab"></div>
        <div class="coral_2"></div>
        <div class="coral_3"></div>
    </div>
</section>

<script src="script.js"></script>
</body>
</html>