<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="..static/style.css" th:href="style.css">
    <title>Ocean Rescue</title>
    <meta charset="utf-8">
</head>
<body>
<section>
    <div id="message-area" style="color: white;" >
        <h2 onclick="startGame()">START!</h2>
        <h2 onclick="showRules()">Show Rules</h2>
        <h2 onclick="showScoreboard()">Show Scoreboard</h2>
        <div class="rules">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">X</span>
        </div>
        <div class="scoreboard">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">X</span>
        </div>
    </div>
    <div id="game-area">
        <h1></h1>
        <div class="crab"></div>
        <div class="coral_2"></div>
        <div class="coral_3"></div>
    </div>
</section>

<script src="script.js"></script>
</body>
</html>