<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="..static/style.css" th:href="style.css">
        <title>Ocean Rescue</title>
        <meta charset="utf-8">
    </head>
    <body>
        <audio autoplay class="music"
               src="images/ukulele.mp3" type="audio/mpeg">
        </audio>
        <section>
            <div id="message-area" style="color: white; justify-content: center;" >
                <h2 id="start" onclick="startGame()">START!</h2>
                <h2 onclick="showRules()">Show Rules</h2>
                <h2 onclick="showScoreboard()">Show Scoreboard</h2>
                <div class="rules">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">X</span>
                </div>
                <div class="scoreboard">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">X</span>
                    <ol style="font-family:'Verdana'; font-size: 35px; left: 450px; position: absolute; top: 150px;">
                        <li th:each="highScores : ${scores}" th:text="${highScores.score} + '.........' + ${highScores.userName}"></li>
                    </ol>
                </div>
            </div>
            <div id="game-area" style="color: white; justify-content: center;">
                <div class="gameOver">
                    <h2 class="your_score" style="top:250px; font-size: 50px; position: relative; text-align: center;"></h2>

                    <form th:object="${score}" action="/save"  method="post" name="saveScore" style="position: relative; text-align: center; top:350px;">
                        <input type="text" maxlength="3" th:name="userName" style="font-size: 50px; height: 75px; width: 150px; background: transparent; border: 7px solid white; text-align: center; font-weight: bold; color: white; position: relative; border-radius: 20px;"/><br/>
                        <input type="hidden" id="myHighscore" th:name="score"/>
                        <input type="submit"/>
                    </form>
                </div>
                <img class="bottom" src="images/background_plastic.jpeg" />
                <img class="top" src="images/background.jpeg" />
                <h1></h1>
                <div onclick="mute()" style="left: 10px; top: 10px;" id="unmuted">
                    <img src="images/audio/unmutedOn.png">
                </div>
                <div class="crab"></div>
                <div class="crab_2"></div>
                <div class="coral_2"></div>
                <div class="coral_3"></div>
            </div>
        </section>
        <script src="script.js"></script>
    </body>
</html>