<!DOCTYPE html>
<html>
<head>
    <title>Target Practice</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
</head>
<body>
<header>
    <h1>Ocean Rescue</h1>
</header>
<section>
    <div id="message-area" style="color: white;" ><h2 onclick="startGame()">START!</h2></div>
    <div id="game-area">
        <div class="crab"></div>
        <div class="coral_2"></div>
    </div>
</section>

<script src="script.js"></script>
</body>
</html>