body {
    background-color: darkgray;
    cursor: url(fishing-net.svg), auto;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Orbitron;
    color: white;
    margin: 20px;
    text-align: center;
}

h1 > span {
    float: right;
}

h1 {
    padding:10px;
    padding-right:30px;
    padding-left:30px;
    width: 960px;
}

#game-area {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 1200px;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/background.jpeg");
    background-size: cover;

    box-shadow: inset 2px 2px 10px black;
    overflow: hidden;
}

#message-area {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 1200px;
    height: 800px;
    z-index: 1000;
    background-color: #023A5D;
    background-image: url("images/logo.png");
    background-size: cover;
    text-shadow: 2px 2px 5px black;

    }

    .rules {
        position: absolute;
        width: 1200px;
        height: 800px;
        z-index: 1000;
        background-color: #023A5D;
        display: none;
        top: 0px;

        background-image: url("images/HowTo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-shadow: 2px 2px 5px black;
        box-shadow: inset 2px 2px 10px black;
        }

    .scoreboard {
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 1000;
    background-color: #023A5D;
    display: none;
    top: 0px;
    background-image: url("images/scoreboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 5px black;
    box-shadow: inset 2px 2px 10px black;
    }


.hidden {
    display: none;
}

.fish_1 {
    background-image: url("images/fish/fish_1_r.gif");
    background-size: cover;
    height: 40px;
    width: 50px;
    animation: right 20s normal;
    background-repeat: no-repeat;
}
.fish_2 {
    background-image: url("images/fish/fish_2_r.gif");
    background-size: cover;
    height: 80px;
    width: 100px;
    animation: right 24s normal;
    background-repeat: no-repeat;
}

.fish_3 {
    background-image: url("images/fish/fish_3_r.gif");
    background-size: cover;
    height: 120px;
    width: 120px;
    animation: right 35s normal;
    background-repeat: no-repeat;
}

.fish_4 {
    background-image: url("images/fish/fish_4_l.gif");
    background-size: cover;
    height: 40px;
    width: 50px;
    animation: left 15s normal;
    background-repeat: no-repeat;
}

.fish_5 {
    background-image: url("images/fish/fish_5_l.gif");
    background-size: cover;
    height: 85px;
    width: 100px;
    animation: left 18s normal;
}

.fish_6 {
    background-image: url("images/fish/fish_6_r.gif");
    background-size: cover;
    height: 60px;
    width: 60px;
    animation: right 50s normal;
}

.fish_7 {
    background-image: url("images/fish/fish_7_r.gif");
    background-size: cover;
    height: 80px;
    width: 80px;
    animation: left 18s normal;
    transform: scaleX(-1);
}

.fish_8 {
    background-image: url("images/fish/fish_8_r.gif");
    background-size: cover;
    height: 110px;
    width: 130px;
    animation: right 30s normal;
}

.seahorse {
    background-image: url("images/fish/sea_horse_l.gif");
    background-size: cover;
    height: 60px;
    width: 60px;
    animation: left 40s normal;
    transform: rotate(30deg);
}

.stingray {
    background-image: url("images/fish/stingray_l.gif");
    background-size: cover;
    height: 150px;
    width: 150px;
    transform: rotate(-30deg);
    animation: left 22s normal;
}

.octopus {
    background-image: url("images/fish/octopus.gif");
    background-size: cover;
    height: 200px;
    width: 200px;
    animation: left 40s normal;
    transform: rotate(30deg);

}

.turtle {
    background-image: url("images/fish/turtle_r.gif");
    background-size: cover;
    height: 150px;
    width: 150px;
    animation: right 30s normal;
    transform: rotate(60deg);
}

.crab {
    background-image: url("images/fish/crab.gif");
    background-size: cover;
    height: 80px;
    width: 80px;
    bottom: 100px;
    position:absolute;
    left: 300px;
}
.coral_2 {
    background-image: url("images/plants/coral_2.png");
    background-size: cover;
    height: 120px;
    width: 120px;
    bottom: 70px;
    position:absolute;
    left: 575px;
}
.coral_3 {
    background-image: url("images/plants/coral_3.png");
    background-size: cover;
    height: 120px;
    width: 120px;
    bottom: 0px;
    position:absolute;
    left: 800px;
}

.trash_1 div{
    background-image: url("images/trash/beer_bottle.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    animation: trash 40s normal;
}

.trash_2 div{
    background-image: url("images/trash/beverage_can_empty.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    animation: trash 40s normal;
}

.trash_3 div{
    background-image: url("images/trash/bottle.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    animation: trash 40s normal;
}

.trash_4 div{
    background-image: url("images/trash/can.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    animation: trash 40s normal;
}

.trash_5 div{
    background-image: url("images/trash/plastic_bag.png");
    background-size: cover;
    height: 100px;
    width: 100px;
    animation: trash 40s normal;
}

.trash_6 div{
    background-image: url("images/trash/plastic_rings.png");
    background-size: cover;
    height: 80px;
    width: 80px;
    animation: trash 40s normal;
}


@keyframes left {
    from {
        margin-left:-200px;
    }
    to {
        margin-left:1500px;
    }
}
@keyframes right {
    from {
        margin-left:1600px;
    }
    to {
        margin-left:-2000px;
    }
}

@keyframes trash {
    from {
        margin-top:-200px;
    }
    to {
        margin-top:1000px;
    }
}

#health {
    height: 50px;
    width: 50px;
}

.closebtn {
    font-family: "Verdana";
      margin: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 35px;
      cursor: pointer;
      transition: 0.3s;
      background-color: red;
      border-radius: 50px;
      width: 35px;
      height: 35px;
      border: white solid 5px;
      text-align: center;
}



